.tieresSpan {
   font-size: 10px;
   color: #c4c4c4;
   border: 1px solid;
   padding: 2px 6px;
   border-radius: 50%;
}
.tieresTitle {
   color: grey;
}

.tieres select {
   padding: 10px 0px 10px 16px;
   width: 287px;
   /* width: 100%; */
   text-align: start;
   font-size: 17px;
   border-color: #e5e5e5;
   outline: none;
}
.tieres {
   display: flex;
   flex-direction: column;
   gap: 24px;
   border-right: 1px solid #e5e5e5;
   padding-right: 20px;
   /* padding-left: 20px; */
}
.tieres p {
   font-size: 14px;
   color: #6a6a6a;
}
.price input {
   outline: none;
   border-color: #eee5e5;
   border-width: 1px;
   padding: 10px 0px 10px 15px;
   width: 144px;
   font-size: 17px;
}
.priceitemInput {
   display: flex;
}
.price input::placeholder {
   font-weight: bold;
   color: #1a1e29;
}
label {
   display: flex;
   gap: 10px;
   margin: 9px 0px;
}
.inputContainer {
   position: relative;
   max-width: 300px;
}
.inputContainer input {
   max-width: 287px;
   width: 100%;
   padding: 10px 0px 10px 10px;
}
.icon {
   position: absolute;
   top: 26px;
   left: 85%;
   transform: translateX(-50%);
}

@media (max-width: 900px) {
   .tieres {
      display: grid;
      justify-content: center;
      border: none;
      padding: 0;
   }
}
