.sliderContainer {
   position: relative;
}

.slideContent {
   position: relative;
   width: 100%;
   img {
      width: 100%;
   }
}
.textOverlay {
   top: 0;
   position: absolute;
   color: #fff;
   text-align: center;
   display: flex;
   
}
