.sliderContainer {
   background-image: url('../../../assets//image/slider1.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
.sliderInfo {
   max-width: 1340px;
   margin: 0 auto;
   padding-top: 55px;
   padding-bottom: 55px;
   padding-left: 30px;
}
.sliderInfo h1 {
   color: white;
   font-size: 45px;
   font-family: serif;
   line-height: 45px;
}
.sliderInfo button {
   margin: 36px 0px;
   padding: 18px 44px;
   font-size: 18px;
   font-weight: 700;
   color: #ff7e00;
   border-radius: 5px;
   background: #fff;
   border: none;
   cursor: pointer;
}

.fix {
   display: flex;
   gap: 5px;
}
.fixItem {
   width: 10px;
   height: 10px;
   background-color: white;
   border-radius: 50%;
}
.fixItemActive {
   background-color: #ff7e00;
}

@media (max-width: 768px) {
   .sliderInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
   .sliderInfo h1 {
      font-size: 24px;
      line-height: 26px;
   }
   .sliderInfo button {
      border-radius: 2px;
      font-size: 14px;
      padding: 12px 24px;
   }
   .fixItem {
      width: 8px;
      height: 8px;
      background-color: white;
      border-radius: 50%;
   }
   .fixItemActive {
      background-color: #ff7e00;
   }
}
