.headerContent {
   background-color: #1a1e29;
   /* position: relative; */
}
.headerLogo {
   width: 99px;
}
.personalIcon {
   display: none;
}

.container {
   max-width: 1340px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding: 0 30px;

   li {
      color: white;
      list-style: none;
      cursor: pointer;
      user-select: none;
   }

   ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }
}
.headerIcon {
   padding: 32px;

   img {
      width: 16px;
      height: 16px;
   }
}
.burgerMenu {
   display: none;
}

.ulContainer {
   display: flex;
   gap: 47px;
}

.divContainerUl {
   display: flex;
   align-items: center;
}
.burgerContent {
   display: none;
}
.menuDesctop {
   display: block;
}

@media screen and (max-width: 768px) and (min-width: 0) {
   .mobileNavItem {
      display: flex;
   }
   .burgerContent {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      position: absolute;
      z-index: 1;
      background-color: #2b3143;
      padding: 20px;
   }

   .headerLogo {
      width: 61px;
   }
   .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .burgerMenu {
      display: flex;
      flex-direction: column;
      gap: 2px;
   }
   .burgerItem {
      display: block;
      width: 20px;
      height: 2px;
      background-color: white;
   }
   .burgerItem2 {
      display: block;
      width: 16px;
      height: 2px;
      background-color: white;
   }
   .ulContainer li {
      display: none;
   }
   .divContainerUl li {
      display: none;
   }
   .ulContainer.open li {
      display: block;
   }

   .burgerMenu {
      display: flex;
      flex-direction: column;
      gap: 2px;
   }
   .burgerItem {
      display: block;
      width: 20px;
      height: 2px;
      background-color: white;
   }
   .burgerItem2 {
      display: block;
      width: 16px;
      height: 2px;
      background-color: white;
   }
   .personalIcon {
      display: flex;
      width: 24px;
      height: 16px;
   }

   .burgerContent li {
      display: block;
      color: white;
      font-size: 18px;
      font-weight: 500;
   }
   .menuDesctop {
      display: none;
   }
}

.line {
   border: 1px solid #3e465f;
}
