.navbar {
   display: block;
   padding-top: 11px;
   border-bottom: solid 1px #e5e5e5;

   ul {
      list-style: none;
      max-width: 1280px;
      margin: 0 auto;
      padding: 16px 0;
      display: flex;
      gap: 8px;
   }
   li {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
   }
}

#navigate {
}

#none {
   display: none;
}
