* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: IBM Plex Sans;
   /* outline: 1px solid lightgreen;    */
}

/* border: 1px solid #3e465f;
    max-width: 600px; */
li{
   list-style: none;
}