/* Keyframes for sliding animation */
@keyframes slideDown {
   from {
      transform: translateY(-100%);
   }
   to {
      transform: translateY(0);
   }
}

@keyframes slideUp {
   from {
      transform: translateY(0);
   }
   to {
      transform: translateY(-100%);
   }
}

/* Styling for the menu container */
.menuProducts {
   animation: slideDown 0.3s ease-in-out;
   width: 100%;
   position: absolute;
   z-index: 1;
   background-color: #2b3143;
   display: block;
   padding-bottom: 30px;
}
.closed {
   animation-direction: reverse;
}

/* Container styling */
.container {
   padding-top: 60px;
   max-width: 1340px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-left: 20px;
   padding-right: 20px;
}

/* Styling for tire products */
.containerProductsTire li {
   display: flex;
   align-items: center;
   gap: 24px;
   color: white;
   max-width: 600px;
   padding-bottom: 13px;
   padding-top: 23px;
}

.containerProductsTire li img {
   width: 96px;
}

.containerMenuProductsTire div {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 16px;
}

.containerProductsTire div a {
   color: #ff850e;
   font-size: 24px;
   font-weight: 500;
   text-decoration: none;
   /* text-wrap: wrap; */
}

.line {
   border: 1px solid #3e465f;
   max-width: 600px;
}
.lineMenu {
   border: 1px solid #3e465f;
}

/* Styling for the menu items */
.containerProductsMenu {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.containerProductsMenu li {
   list-style: none;
}

.containerProductsMenu li a {
   font-size: 16px;
   padding-right: 100px;
   color: #fff;
   list-style: none;
   text-decoration: none;
   font-weight: 500;
   line-height: 24px;
}

/* Media queries for responsive design */
@media screen and (max-width: 850px) and (min-width: 0) {
   .containerProductsTire {
      display: none;
   }

   .container {
      padding: 0;
      display: flex;
   }

   .menuProducts {
      position: relative;
      /* display: flex; */
   }
}
