@keyframes slideDown {
   from {
      transform: translateY(3%);
   }
   to {
      transform: translateY(0);
   }
}

.menuProducts {
   animation: slideDown 0.3s ease-out;
   width: 100%;
   position: relative;
   z-index: 1;
   background-color: #2b3143;
   display: block;
   padding-bottom: 30px;
}
.container {
   padding-top: 60px;
   max-width: 1440px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-left: 20px;
   padding-right: 20px;
}
.containerProductsTire li {
   display: flex;
   align-items: center;
   gap: 24px;
   color: white;
   max-width: 600px;
   padding-bottom: 23px;
   padding-top: 23px;
}

.containerProductsTire li img {
   width: 96px;
}

.containerProductsTire div a {
   color: #ff850e;
   font-size: 24px;
   font-weight: 500;
   text-decoration: none;
   /* text-wrap: wrap; */
}
.line {
   border: 1px solid #3e465f;
   max-width: 600px;
}

.lineMenu {
   border: 1px solid #3e465f;
   max-width: 492px;
}

.containerProductsMenu {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.containerProductsMenu li {
   list-style: none;
}

.containerProductsMenu li a {
   font-size: 16px;
   padding-right: 100px;
   color: #fff;
   list-style: none;
   text-decoration: none;
   font-weight: 500;
   line-height: 24px;
}

@media screen and (max-width: 768px) and (min-width: 0) {
   .containerProductsTire {
      display: none;
   }
   .container {
      padding-top: 0;
   }
   .menuProducts {
      position: relative;
   }
}
