.button {
   padding: 15px 13px;
   border: 1px solid #ff7e00;
   background: #fff;
   color: #ff7e00;
   cursor: pointer;
}

.button:hover {
   color: #fff;
   background-color: #ff7e00;
   transition: 0.4s;
}
